# About logger.cr File
#
# Launch is using the dexter
# You can read details here: https://github.com/luckyframework/dexter/

backend = Log::IOBackend.new(STDOUT)
backend.formatter = Launch::Logger::Formatter.proc
Log.dexter.configure(Launch.settings.logging.severity, backend)
