# About logger.cr File
#
# Launch is using the dexter
# You can read details here: https://github.com/luckyframework/dexter/

backend = Log::IOBackend.new(STDOUT)
backend.formatter = if Launch.env == :production
                      Dexter::JSONLogFormatter.proc
                    else
                      Launch::Logger::Formatter.proc
                    end
Log.dexter.configure(Launch.settings.logging.severity, backend)
